---
interface Props {
  url: string;
  title: string;
  description?: string;
  createdDate: Date;
  updatedDate: Date;
  author: string;
  tags?: string[];
  category: string;
}

const { title, url, description, updatedDate, createdDate, category, author } =
  Astro.props;

import { formatDate } from "../utils/formatDate";
---

<article class="flex flex-col items-center py-6">
  <a
    href={url}
    class="w-full max-w-3xl bg-background-secondary rounded-lg shadow-lg hover:shadow-xl transition duration-300 ease-in-out p-6 hover:scale-[1.02] hover:bg-secondary-hover"
  >
    <h2
      class="font-bold text-3xl mb-4 text-primary hover:text-primary-hover transition-colors duration-300"
    >
      {title}
    </h2>
    <div class="mb-4 text-sm text-text-secondary">
      <span>创建于: {formatDate(createdDate)}</span>
      <span class="ml-4">更新于: {formatDate(updatedDate)}</span>
      {author && <span class="ml-4">作者: {author}</span>}
    </div>
    <p class="text-lg leading-relaxed mb-4 text-text">{description}</p>
    {
      (
        <div class="flex flex-wrap gap-2">
          <span class="px-3 py-1 bg-background rounded-full text-text-secondary">
            {category}
          </span>
        </div>
      )
    }
  </a>
</article>

<style>
  a {
    text-decoration: none;
    transform-origin: center;
  }
</style>
